@font-face {
    font-family: PT Sans Narrow;
    src: url(../fonts/PTSansNarrow.ttf);
}


:root {
    --light_red: #f99589;
    --red: #f75c49;
    --dark_red:#cc4836;
    --dark_white:#f9f5f9; 
    --hover_white:#fafafa;
    --popup_background:#464547;
    --sky_blue:#70aac3;
    --light_blue:#68becb;
    --blue:#1ab7d9;
    --dark_blue: #1096d0;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:default;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

.contentcard{
    margin: 0 auto;
    max-width: 1200px;
    box-shadow: 1px 0 10px #dfdfdf, -1px 0 10px #dfdfdf;

}

hr{
    margin: 40px auto;
    width: 500px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.button{
    border: 1px solid var(--red);
    color: var(--red);
    background-color: #00000000;
    cursor:pointer;
}

.button:hover{
    border: 1px solid var(--red);
    color:white;
    background-color: var(--red);
    transition-duration: 0.25s;
}

.new-users{
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 150px;
    font-size: 14px;
}

.header_logo_text{
    margin: 0 0 0 117px;
    padding: 0;
    display:inline-flex;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    transform: scaleX(1.17);
    text-shadow: 1px 1px black, -1px -1px var(--red);
    transition: text-shadow 0.5s;
}

.header_logo_text:hover {
    text-shadow: 2px 1px black, -2px -1px var(--red);
    transition: text-shadow 0.5s;
}

header{
    margin-bottom: 59px;
    padding-top: 39px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
        margin-right: 20px;
        padding-left: 9px;
        width: 220px;
        height: 42px;
        border: gray solid 1px;
        border-radius: 1px;
        font-size: 14px;
        transition: width 0.5s;
    }

    input:focus, input:hover {
        width: 400px;
        transition: width 1s;
    }

    button{
        margin-right: 0;
        height: 42px;
        width: 94px;
        font-size: 14px;
    }

    div{
        margin-right: 100px;
        display: inline-flex;
        flex-direction: row-reverse;
    }
}

ul{
    margin-left: 100px;
    padding: 0;
    display: inline-flex;
    gap:42px;
    color: var(--red);
    font-size: 20px;
    list-style-type: none;
}

.text-interface{
    color: var(--red);
    text-decoration: none;
    font-weight: 600;
    transition-duration: 0.25s;
    cursor:pointer;
}

.text-interface:hover{
    color: var(--dark_red);
    transition-duration: 0.25s;
}

.teacher-add{
    margin-right: 100px;
    float: right;
    width: 170px;
    height: 54px;
    font-size: 20px;
}

h2{
    margin:40px auto 20px auto;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.imagelist{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 63px;
}

figure{
    margin: 43px 25px 0 25px;
    height: min-content;
    .favor-sign{
        z-index: 1;
        position: relative;
        left: 65px;
        top: 10px;
        visibility: hidden;
    }

    .favorite{
        visibility: visible;
    }
    
    .main-image-conteiner{
        display: flex;
        margin: -50px auto 0 auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 4px solid var(--light_red);
        color:var(--light_red);
        line-height: 150px;
        font-size: 22px;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        overflow:hidden;
    }

    .main-image-conteiner:hover{
        border-color: var(--dark_red);
        color:var(--dark_red);
        font-size: 24px;
    }

    .main-image-conteiner:hover > .mainimage{
        transform: scale(1.25);
    }

    .mainimage {
        width: 150px;
        height: 150px;
    }
}

.name{
    font-weight: 600;
    font-size: 20px;
    width: min-content;
    margin: 20px auto 0 auto;
}

.subject{
    color: gray;
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 0;
}

.region{
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 0;
}
select{
    background-color: #00000000;
    border: 1px solid gray;
    border-radius: 1px;
    height: 34px;
    min-width: 75px;
    max-width: 90px;
    font-size: 16px;
    padding-left: 10px;
}

label{
    margin-right: 18px;
    color:gray;
}
.backwards{
    margin-right: 0;
    margin-left: 9px;
}

.divselector{
    display: inline-flex;
    padding-right: 20px;
    margin-right: 20px;
    margin-bottom: 17px;
    border-right: 2px dotted gray;
    height: 36px;
    vertical-align: middle;
    align-items: center;
    transition-duration: 0.25s;
}
.divselector:last-of-type{
    padding-right: 0;
    margin-right: 0;
    border-right: 0;
}

.divselector:hover > label{
    color: black;
    transition-duration: 0.25s;
}

article{
    margin: auto 100px;
}

table{
    width: 1000px;
    border-collapse:collapse;
    margin-top: 40px;

    tr{
        text-align: center;
        margin-left: 0;
    }

    tr:first-child{
        border-bottom: black solid 1px;
        
    }

    tr:nth-child(2n+1)>td{
        background-color: var(--dark_white);
    }

    th:first-child>p, td:first-child{
        text-align:left;
        padding-left: 20px;
    }

    td{
        margin-left: 0;
        margin-right: 0;
        height: 36px;
        width: min-content;
        font-size: 14px;
    }

    th{
        padding: 0;
        text-align: center;
    }

    p{
        margin:0;
        padding: 14px 0 14px 15px;
        font-weight: normal;
        font-size: 18px;
        transition-duration: 0.25s;
    }

    th:hover > p{
        padding-bottom: 11px;
        border-bottom: 3px solid black;
        background-color: var(--hover_white);
        transition-duration: 0.25s;
    }
    
    th:hover>p>.donw-sign{
        visibility: visible;
    }

    .sorted_false>p>.donw-sign{
        visibility: visible;
    }

    .sorted_false > p, .sorted_true > p{
        background-color: var(--hover_white);
        transition-duration: 0.25s;
    }

    .sorted_true>p>.donw-sign{
        visibility: visible;
        transform: rotate(180deg);
    }


    .donw-sign{
        width: 10px;
        height: 15px;
        margin-left: 5px;
        visibility: hidden;
    }
}

.table-links{
    margin: 37px 0 4px 22px;
    gap:22px;
    li{
        font-weight: normal;
        font-size: 14px;
        color: black;
        font-family: PT Sans Narrow, serif;
    }

    a {
        color: inherit;
        font-family: inherit;
        font-weight: 500;
        cursor: default;
    }

    a:hover{
        color: inherit;
    }

    a:not(.selected){
        color:var(--blue);
    }
    a:not(.selected):hover{
        color:var(--dark_blue);
    }
    
}

article:last-child{
    margin: 0;
}

.imagelist-favorites{
    display: flex;
    align-items: center;

    .imagelist{
       margin-bottom: 60px;
    }
    .mainimage {
        margin-top:0;
    }
}

.sign{
    -webkit-mask-image:url(../images/Arrow_sign.png);
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/Arrow_sign.png);
    mask-repeat: no-repeat;
    width: 20px;
    height: 64px;
    background-color: gray;
    margin: 0 40px;
    transition-duration: 0.25s;
}

.sign:hover{
    background-color: black;
    transition-duration: 0.25s;
}
.sign:last-child{
    transform: scaleX(-1);
}

footer{
    padding-bottom: 30px;
    p{
        margin: 10px 100px 20px 100px;
        font-size: 14px;
    }
}

//Add Teacher popup

.content{
    background-color: white;
    border-radius: 0 0 3px 3px;
}
.pop-up{
    box-shadow: 1px 0 5px #666666, -1px 0 5px #666666, 0 -1px 5px #525052;
    background-color: var(--popup_background);
    border-radius: 3px;
}

.background{
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.teacher-pop-up{
    max-width: 560px;
    max-height: 892px;

    .content-add-teacher{
        height:auto;
        padding: 30px 20px;
        row-gap: 15px;
        width: 520px;
        display: grid;
        grid-template-areas:
        "fname fname"
        "spec spec"
        "country city"
        "email phone"
        "date none"
        "sex none"
        "bcolor none"
        "notes notes"
        "sbmt sbmt";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 65px 65px 65px 65px 70px 30px 30px 155px auto;
    }

    h1{
        display: inline-flex;
        font-size: 22px;
        margin: 18px 20px 16px 20px;
        color: white;
        font-weight: 600;
        border-radius: 0 0 2px 2px;
    }

    img{
        margin: 23px;
        float: right;
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
    
    label{
        display: block;
        margin-bottom: 6px;
        font-size: 14px;
    }
    
    section{
        margin: 0 16px;
        display:inline-block;
        padding: 0;
    }

    input{
        padding-left: 12px;
    }

    select{
        padding-left: 16px;
    }
    
    .input{
        height: 36px;
        width:100%;
        font-size: 16px;
        max-width: none;
        border-radius: 1px;
        border: 1px solid gray;
    }       
    
    textarea{
        width: 100%;
        height: 125px;
        margin: 0;
        padding: 0;
        border-radius: 2px;
        border: 1px solid gray;
    }

    .fullname{
        grid-area: fname;
    }

    .speciality{
        grid-area: spec;
    }

    .country{
        grid-area: country;
    }

    .city{
        grid-area: city;
    }

    .email{
        grid-area: email;
    }

    .phone{
        grid-area: phone;
    }

    .date-of-birth{
        grid-area: date;
        input{
            height: 39px;
            padding: 10px 16px 10px 12px;
            
        }
    }

    .sex{
        grid-area: sex;
        display: flex;
        align-items: center;
        p{
            margin: 0 40px 0 0;
            display: inline;
            color:gray;
        }

        label{
            display: inline;
            margin: 0;
            color: black;
        }

        input{
            height: 13px;
            width:13px;
            margin:0 8px 0 11px;
        }
    }    

    .bg-color{
        grid-area: bcolor;
        display: flex;
        align-items: center;
        label{
            display: inline;
            margin: 0 40px 0 0;
        }

        img{
            width: 16px;
            height: 16px;
            cursor: default;
            margin: 0 6px 0 0;
        }

        input{
            height: 25px;
            width: 44px;
            padding: 10px 8px;
        }
    }

    .notes{
        grid-area: notes;
    }

    .submit{
        grid-area: sbmt;
        margin-top: 41px;
        height: 62px;

        input{
            padding: 0;
            width: 100%;
            height: 62px;
            font-size: 24px;
            font-weight: 600;
        }
    }
    
}


//View Teacher popup


.clear {
	clear: both;
    margin-top: 15px;
}

.teacher-view-pop-up{
    width: 950px;
    height: 557px;

    .info-header{
        display: inline-flex;
        font-size: 24px;
        margin: 18px 0 0 20px;
        color: white;
        font-weight: 600;
        border-radius: 0 0 3px 3px;
        width: auto;
    }

    img{
        margin: 18px;
        float: right;
        height: 25px;
        width: 25px;
        cursor: pointer;
    }
}

.content-info{
    height: 492px;
    width: 100%;

    .main-image{
        margin: 20px;
        float: left;
        width: 320px;
        height: 320px;
        cursor: default;
    }

    .interface{
        width: 40px;
        height: 40px;
        margin: 30px 20px 30px 10px;
    }

    .text{
        padding-left: 20px;
        margin-top: 20px;
        max-width: max-content;
        display: flex;
        flex-wrap: wrap;
        color: var(--popup_background);
    }
    
    .full-name{
        display: inline-flex;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        font-weight: 500;
    }

    .text-subject{
        font-size: 22px;
        font-weight: 600;
        color: black;
    }
    
    .text-info{
        margin-top: 15px;
    }

    .text-email{
        margin-top: 16px;
        color: var(--light_blue);
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
    }

    .text-phone{
        margin-top: 14px;
    }

    .text-notes{
        font-size: 14px;
        margin-top: 30px;
    }

    .text-map{
        display: inline-flex;
        color: var(--sky_blue);
        margin-left: 20px;
        padding-left: 0;
        padding-bottom: 1px;
        border-bottom: var(--sky_blue) dashed 1px;
    }
    
    .text-link{
        cursor: pointer;
    }

    .text-link:hover{
        color: var(--dark_blue);
        transition-duration: 0.25s ;
    }
}




@media screen and (max-height: 892px) {
    .teacher-pop-up{
        max-height: 100%;

        .content-add-teacher{
            row-gap: 1.68vh;
        }

        .submit{
            margin-top: 2.6vh;
        }
        
    }
}



@media screen and (max-width: 768px) {
    .contentcard{
        width: 100vw;
    }

    .header_logo_text{
        margin-left: 5vw;
        font-size: 36px;
    }

    header{
        margin-bottom: 25px;

        input{
            width:30vw;
        }

        input:hover {
            width: 40vw;
        }
    
        div{
            margin-right: 5vw;
        }
    }

    nav{
        margin-top: 0;
    }

    ul{
        margin-left: 25px;
        gap:30px;
    }
    
    .teacher-add{
        margin-right: 5vw;
        width: 150px;
        height: 50px;
    }
    
    h2{
        margin-top:0;
    }
    
    .imagelist{
        justify-content: space-around;
    }

    figure{
        .favor-sign{
            left: 60px;
            top: 5px;
        }
    
        .mainimage {
            width: 145px;
            height: 145px;
        }
    }
    
    .name{
        margin-top: 10px;
    }
    
    .subject{
        margin-top: 10px;
    }
    
    select{
        height: 30px;
        min-width: 50px;
        max-width: 90px;
        padding-left: 5px;
    }
    
    label{
        margin-right: 10px;
    }
    .backwards{
        margin-right: 0;
        margin-left: 9px;
    }
    
    .divselector{
        height: 30px;
    }
    
    article{
        margin: auto 5%;
    }
    
    table{
        width: 100%;
    }
    
    article:last-child{
        margin: 0;
    }
    
    .favorite-img{
         margin-bottom: 50px;
    }
    
    .sign{
        width: 40px;
        margin: 0 2vw;
    }
    
    footer{
        padding-bottom: 30px;
        p{
            margin-left: 5vw;
            margin-right: 5vw;
        }
    }
    
    .teacher-view-pop-up{
        width: 100vw;
    }
}